__pycache__/
.venv/
.env
.env.*
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
storage/*.db
storage/*.sqlite
venv/
/.pytest_cache/
.DS_Store
.vscode/
.idea/
/.mypy_cache/
pip-wheel-metadata/
dist/
build/
coverage.xml
htmlcov/
node_modules/
.ropeproject
/.cache/
/.venv/
__pycache__/